body{
    background-color: antiquewhite;
    width: 100%;
}
.buttons{
    border-style: solid;
    width: 146px;
    float: right;
    margin-right: 22.6%;
}
.table{
    border-style: solid;
    width: 50%;
    float: left;
    margin-left: 25% ;
    padding-top: 2px;
    margin-top: -3px;
}
.button2:hover{
    background-color: #FF0E3C;
    color: white;
}
.button2{
    padding: 4px 16px;
    background-color: white;
    border: 2px solid #FF0E3C;

}
.buttons{

}
.button1:hover {
    background-color: #008CBA;
    color: white;
}
.button1 {
    padding: 4px 16px;
    background-color: white;

    border: 2px solid #008CBA;
}
.image{
    width: 186px;

}
.square {
    width: 32%;
    float: left;
    text-align: center;
}
.item-list{
    padding-top:5px ;
    padding-left:5px ;
    border-style: solid;
    width: 95%;
}
.row {
    width: 99%;
}
.item{
 padding-top:5px ;
    padding-bottom: 5px;

}

.desc-square {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.desc-row {
    font-family: Arial, Verdana, sans-serif;
    font-size: 20px;
    width: 30%;
    margin-right: 48%;
    float:right;
    text-align: left;
}
h1{
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    color: green;
    padding-bottom: 10px;
}